<li class="block-wrapper container-fluid">
    <div class='buttonBlock'>
        <button class="btn moveButton">
            <i class='icon-move'></i>    
        </button>
        <button class='editButton btn btn-primary' onclick="makeBlock1Editable('<%= i %>')">
            <i class='icon-pencil'></i>
        </button>
    </div>
    <div class='img-wrapper <%= i %>' class='container-fluid'>
        <img width="170px" height="230px" src='<%= currBlock.content.img %>'></img>
    </div>
    <div class='text-wrapper <%= i %>' class='container-fluid'>
        <p>CELEBRATE OUR LOVE WITH US ON...</p>
        <div class='wedding-date-wrapper <%= i %>'>
            <%- currBlock.content.date %>
        </div>
        <div class='our-story-wrapper <%= i %>'>
            <%- currBlock.content.body %>
        </div>
    </div>
</li>