<script src='/blocks/waterton/no-edit/js/maps.js'></script>

<li class="block-wrapper container-fluid">
    <div class='buttonBlock'>
        <button class="btn moveButton">
            <i class='icon-move'></i>    
        </button>
        <button class='editButton btn btn-primary' onclick='makeBlock2Editable(<%= i %>)'>
            <i class='icon-pencil'></i>
        </button>
    </div>
    <div class='img-wrapper <%= i %>' class='container-fluid'>
        <div id='map' class='container-fluid'></div>
    </div>
    <div class='text-wrapper map-text <%= i %>' class='container-fluid'>
        <h2>The Venue</h2>
        <div id='venue-name'><%= currBlock.content.venueName %></div>
        <div id='venue-address'><%= currBlock.content.address %></div>
        <div id="venue-body">
            <%- currBlock.content.body %>
        </div>
    </div>
</li>