<!-- Edit -->
<% 
    var ejsGlobals = {};
    ejsGlobals.incStyles = ['/vendor/bootstrap.min.css',
                            '/templates/basic/edit/css/basic.css',
                            '/templates/basic/edit/css/my-account.css',
                            'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css',
                           ];
-%>
<% include header %>
     <div id='nav-wrapper' class='container-fluid'>
        <nav id='links' class='navbar navbar-fixed-top navbar-absolute'>
            <a class='brand' href='#'><%= userData.user %></a>
            <ul class='nav pull-right'>
                <% for (var i = 0; i < userData.site.blocks.length; i++) { -%>
                    <li>
                        <a href='#block<%= i %>'><%= userData.site.blocks[i].linkName %></a>
                    </li>
                <% } -%>
            </ul>
        </nav>
    </div>
    <div id='userNav-wrapper'>
        <ul id='sideBarList'>
            <li class='sideBarItem'>
                <a class="userNav" href='my-apps'>My Apps</a>
            </li>
            <li class='sideBarItem'>
                <a class="userNav" href='apps-store'>Apps Store</a>
            </li>
            <li class='sideBarItem'>
                <a class="userNav" href='my-account'>My Account</a>
            </li>
            <li class='sideBarItem'>
                <a class="userNav" href='logout'>Logout</a>
            </li>
        </ul>
    </div>
    <div id='ajaxResult'></div>
    <div id='content-wrapper'>
        <div id='my-account-wrapper'>
            <form method='post' id='account-form' class='form-horizontal span6h1'>
                <fieldset>
                    <div id='name-cg' class='control-group'>
                        <label class='control-label' for='name-tf'>Your Name </label>
                        <div class='controls'>
                            <input id='name-tf' class='input-xlarge' type='text' name='name' value='<%= userData.name %>'/>
                        </div>
                    </div>
                    
                    <div id='email-cg' class='control-group'>
                        <label class='control-label' for='email-tf'>Your Email </label>
                        <div class='controls'>
                            <input id='email-tf' class='input-xlarge' type='text' name='email' value='<%= userData.email %>' />
                        </div>
                    </div>
                    
                    <div id='clist-cg' class='control-group'>
                        <label class='control-label' for='clist-tf'>Country </label>
                        <div class='controls'>
                            <select id='country-list' name='country'>
                                <% for (var i=0; i < countries.length; i++) { -%>
                                    <% if (countries[i].name == userData.country) { -%>
                                        <option selected>
                                    <% } else { -%>
                                        <option>
                                    <% } -%>
                                        <%= countries[i].name %>        
                                    </option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                
                    <div id='pass-cg' class='control-group'>
                        <label class='control-label' for='pass-tf'>Password </label>
                        <div class='controls'>
                            <input id='pass-tf' class='input-xlarge disabled' type='password' name='pass'>
                        </div>
                    </div>

                    <div id='expires-cg' class='control-group'>
                        <label class='control-label' for='expires-tf'>Account Expires </label>
                        <div class='controls'>
                            <%= numDaysTilExpired -%> Days
                        </div>
                    </div>
                    <div id='template-cg' class='control-group'>
                        <label class='control-label' for='template-tf'>Template </label>
                        <div class='controls'>
                            <%= numDaysTilExpired -%> Days
                        </div>
                    </div>
                    <button type='submit' id='account-form-btn2' class='btn btn-success pull-right'>Update</button>
                </fieldset>
            </form>
        </div>
    </div>
    <script src='/vendor/jquery.min.js' type='text/javascript'></script>
    <script src='/vendor/jquery.form.js' type='text/javascript'></script>
    <script src='/vendor/bootstrap-modal.js' type='text/javascript'></script>
    <script src='/vendor/bootstrap-transitions.js' type='text/javascript'></script>
    </body>
</html>
