<ul id="sortable">
<%  for (var i = 0; i < userData.site.blocks.length; i++) {
        if (i%2)
            var order = 'odd box-shadow-bottom';
        else
            var order = 'even';
        
        var currBlock = userData.site.blocks[i];
        if (currBlock.type == 'text') { 
-%>         <li class='block-text' id='block<%= i %>'>
                <button class='btn moveButton'>
                    <i class='icon-move'></i>
                </button>
                <button class='editButton btn btn-primary' onclick='makeTextEditable(<%= i %>)'>
                    <i class='icon-pencil'></i>
                </button>
<%              include ../blocks/text/edit/text -%>
            </li>
<%      } 
        if (currBlock.type == 'gallery') { 
-%>         <li class='block-gallery' id='block<%= i %>'>
                <button class="btn moveButton">
                    <i class='icon-move'></i>    
                </button>
                <button class='editButton btn btn-primary' onclick='makeImageEditable(<%= i %>)'>
                    <i class='icon-pencil'></i>
                </button>
<%              include ../blocks/gallery/edit/gallery -%>
            </li>
<%      } 
        if (currBlock.type == 'watertonBlock1') { 
-%>         <div class='<%= order %>'>
            <li class='block1' id='block<%= i %>'>
<%              include ../blocks/waterton/edit/block1 -%>
            </li>
            </div>
<%      } 
        if (currBlock.type == 'watertonBlock2') { 
-%>         <li class='block2 <%= order %>' id='block<%= i %>'>
<%              include ../blocks/waterton/edit/block2 -%>
            </li>
<%      }
        if (currBlock.type == 'watertonBlock3') {
-%>         <li class='block3  <%= order %>' id='block<%= i %>'>
<%              include ../blocks/waterton/edit/block3 -%>
            </li>
<%      }
    } 
-%>
</ul>